* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Raleway", sans-serif;
  color: #6C4A3F;
  line-height: 1.75;
}

body {
  background: white;
/* background: url(../images/sands.jpg);
background-size: cover;
background-attachment: fixed; */
}

.click-to-book {
  font-size: 2.5em;
  margin-top: 2%;
  text-align: center;
  border-bottom: solid .5px #6C4A3F;
  padding-bottom: 1.6%;
}

h5 {
  margin-left: 1.5%;
  font-size: 2em;
  font-weight:lighter;
  margin-top: 1%;
}

.total-spent-msg {
  font-size: 1em;
}

.total-spent {
  font-size: 1.5em;
}

.main-header {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid .5px #6C4A3F;
  color: white;
  background: #6C4A3F;
}

.main-title {
  color: white;
  background: #6C4A3F;
  font-size: 2em;
  margin-right: 55%;
  display: flex;
  justify-content:center;
  border-bottom: solid .5px #6C4A3F;
  color: white;
}

.greeting-msg {
  font-size: 30px;;
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
}

.cost-logout-section {
  float: right;
  text-align: center;
  padding: .5%;
  width: 15%;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
}

.nav-btn {
  padding: .5% 2%;
  border-radius: 2%;
  border: none;
  box-shadow: 1px .5px 3px 0px black;
  width: 15%;
  height: 20%;
  font-size: 1em;
}

.login-btn:hover,
.nav-btn:hover {
  cursor: pointer;
  color: tan;
  transform: translateY(-6px);
  transition: .4s;
}

.logout-btn:hover {
  cursor: pointer;
  background: white;
  color: tan;
}

.trip-cards-container {
  display: grid;
  padding: .5em;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2em;
  margin-top: .5em;
  width: 100%;
  height: 100%;
}

.trip-card {
  border: solid 1px black;
  font-size: 1em;
  border-radius: .5em;
  padding: 1em;
  margin-left: .5em;
  margin-right: .5em;
  box-shadow: .01em .1em .5em black;
}

.no-trip {
  font-size: 1em;
  margin-left: 4%;
}

.img-wrapper {
  height: 100%;
  width: 100%;
}

.trip-img {
  height: 8%;
  width: 100%;
  border-radius: 5%;
}

.click-to-book:hover {
  cursor: pointer;
  color: tan;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
  letter-spacing: 5px;
}

.booking-form {
  font-size: 1.4em;
  display: flex;
  padding: 2em;
  border-bottom: solid .5px #6C4A3F;
}

.form-fields {
  font-size: .7em;
  border: solid .2px tan;
  border-radius: 5%;
  padding: 1%;
  box-shadow: .2px .2px 1px 0px #6C4A3F;
}

.cost-btn,
.book-btn {
  display: inline-flex;
  justify-content: center;
  font-size: .7em;
  width: 100%;
  height: 35%;
  margin-left: 5%;
  box-shadow: .5px .5px 5px 0px #6C4A3F;
}

.cost-btn:hover,
.book-btn:hover {
  cursor: pointer;
  color: tan;
  transform: translateY(-2px);
  transition: .4s;
}

.cost-btn {
  margin-bottom: 2%;
}

// MODAL POP UPS

.cost-modal,
.book-modal {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
}

.trip-costs,
.booking-confirm-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.trip-cost,
.trip-cost-per-person {
  margin-top: -4%;
  font-size: 3em;
  color: tan;
}

.modal-content,
.book-modal-content {
  z-index: 2;
  background-color: white;
  padding: 0px;
  border: 1px solid #888;
  width: 35%;
  height: 40%;
  overflow-y: scroll;
  box-shadow: 0px 7px 29px 0px black;
  justify-content: center;
}

.book-modal-content {
  height: 30%;
}

.booking-msg-info {
  text-align: center;
  font-size: 1.3em;
  color: tan;
}

.close-modal {
  display: flex;
  justify-content: flex-end;
  font-size: 2.7em;
  font-weight: bold;
  margin-right: 2%;
  margin-top: -2%;
}

.book-close-modal {
  display: flex;
  justify-content: flex-end;
  font-size: 2.7em;
  font-weight: bold;
  margin-right: 2%;
  margin-top: -2%;
}

.close-modal:hover,
.book-close-modal:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}